@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s;
}   

:root {
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray5t: #2a2e3500;
    --gray6: #12181b;
    --gray7: #0b0d0e;

    --font-body: "sofia-pro",sans-serif;
    --font-head: 'Poppins', sans-serif;
    --font-code: "attribute-mono",monospace;
}

body{
    background-color: var(--gray6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-vertcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,h2,h3,p{
    color: var(--gray0);
    font-family: var(--font-head);
    text-shadow: 1px black;
}

h1{
    font-size: 3rem;
    font-weight: 200;
}
h2{
    font-size: 3rem;
    font-weight: 200;
}
h3{
    font-size: 2rem;
    font-weight: 300;
}
p{
    font-size: 1rem;
    font-weight: 300;
}

.button{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: var(--green);
    border-radius: 5px;
    transition: all .3s;
}

.button > p{
    font-weight: 900;
}

.button:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
}

.button-orange{
    background-color: var(--orange);
}

/* -------------------------------------------------------------------------- */
/*                                 Nav-Styling                                */
/* -------------------------------------------------------------------------- */

.topnav{
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: var(--gray5t);

    display: flex;
    z-index: 999;

    transition: all 0.3s;
}

.topnav-logo{
    width: 15vw;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.topnav-logo h1 a{
    text-decoration: none;
    color: var(--gray0);
}

.topnav-links{
    flex-grow: 1;
    margin-right: 15vw;
    pointer-events: none;
}

.topnav-text{
    pointer-events: auto;
    text-decoration: none;
    margin: 4%;

    color: var(--gray0);
    font-size: 1.2rem;
    font-family: var(--font-head);
    font-weight: 200;
}

.topnav-opaque{
    background-color: var(--gray5);
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
}

.topnav-hidden{
    transform: translateY(-64px);
}
.topnav-hr{
    display: none;
    border: none;
    border-top: 1px solid var(--gray1);
}

/* ------------------------------- Burger-Menu ------------------------------ */

.burger {
    position: absolute;
    top: -70px;
    right: 5px;
    cursor: pointer;
    width: 64px;
    height: 64px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.burger > div {
    width: 100%;
    height: 11%;
    background-color: var(--gray0);
    border-radius: 9999px;
    transition: all 0.3s;
}
.burger-active #line2 {
    opacity: 0;
}
.burger-active #line1 {
    transform: rotate(135deg) translate(10px, -10px);
}
.burger-active #line3 {
    transform: rotate(45deg) translate(-10px, -10px);
}
.topnav-active {
    transform: translateX(-70vw);
}



/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    background-color: var(--gray7);
    width: 100%;
    height: 40vh;
    gap: 10px;
}

footer > hr{
    border: none;
    border-top: 3px dashed var(--gray5);
    
}

#footer-hr1{
    width: 20em;
}
#footer-hr2{
    width: 15em;
}
#footer-hr3{
    width: 10em;
}

#footer-nav > a{
    text-decoration: none;
    margin: .5em;

    color: var(--gray0);
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--font-head);
    font-weight: 200;
}
/* -------------------------------------------------------------------------- */
/*                                 Title-page                                 */
/* -------------------------------------------------------------------------- */

#titlepage{
    width: 100%;
    height: 120vh;
    padding-bottom: 20vh;
    background-image: url("../img/gaming.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titletext{
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                    Games                                   */
/* -------------------------------------------------------------------------- */

.games-wrapper{
    display: grid;
    grid-template-areas: 
    "tx tx"
    "g1 g2"
    ;
    width: 1280px;
    margin: 25px;
    place-items: center; 
}


.games-text{
    grid-area: tx;
    width: auto;
    height: auto;
    text-align: center;
}
.games-text > h2{
    font-weight: 500;
}

.games-text > p{
    font-weight: 200;
    font-size: 1.5rem;
}

.games-left{
    grid-area: g1;
}

.games-right{
    grid-area: g2;
}

.gamecard{
    width: 600px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
    background-color: var(--gray5);

    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all .3s;
}

.gamecard > img{
    width: 100%;
    aspect-ratio: 63/50; /*Ja konstigt format, endast där för att jag lätt ska kunna importera bilder från itch.io, och där använder dom 630px*500px av någon anledning*/
    border-radius: 5px; 
}

.gamecard > h3{
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
}

.gamecard > p{
    font-weight: 500;
    text-align: center;
}

.gamecard:hover{
    transform: translateY(-5px);
}

.games-allbutton{
    width: 50vw;
    height: 60px;
}

.games-allbutton > p{
    font-size: 1.4rem;
}



/* -------------------------------------------------------------------------- */
/*                                  Licensing                                 */
/* -------------------------------------------------------------------------- */

.licensing-wrapper{
    display: grid;
    grid-template-areas: 
    "ar se"
    ;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: auto;
    margin: 75px;

    margin-top: 200px; /* ------------------------ TEMPORÄRT ------------------------ */
}

.licensing-wrapper > article{
    grid-area: ar;
}
.licensing-wrapper > section{
    grid-area: se;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.licensing-wrapper > section > h2{
    font-size: 4rem;
}
.licensing-wrapper > section > p{
    font-size: 2rem;
    font-weight: 300;
}

.licensing-wrapper > article > img{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}



/* -------------------------------------------------------------------------- */
/*                                  Partners                                  */
/* -------------------------------------------------------------------------- */


.partners-wrapper{
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "l1 l2 l2 l3"
    "l4 l4 l5 l5"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60vw;
    overflow: hidden;
}

.partners-logo{
    width: 100%;
    height: auto;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-wrapper > h2{
    text-align: center;
    font-size: 5rem;
    grid-area: h1;
}
#partners-logo1{
    grid-area: l1;
}
#partners-logo2{
    grid-area: l2;
}
#partners-logo3{
    grid-area: l3;
}
#partners-logo4{
    grid-area: l4;
}
#partners-logo5{
    grid-area: l5;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               ALL GAMES PAGE                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */

#gamespage-title{
    margin-top: 64px;
    width: 100%;
    height: auto;
    padding: 10px;
}
#gamespage-title h2{
    font-size: 5em;
}
#gamespage-title p{
    text-align: center;
    width: 70%;
    font-size: 1.5em;
}

.gamespage-gameswrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    border: 4px solid var(--blue);
}
.gamespage-gameitem{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 500px;
    min-width: 300px;
    aspect-ratio: 1/1;
    background-color: var(--red);
    border: 4px solid var(--green);
}

.gameitem{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 350px;
    min-width: 100px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.38);
    background-color: var(--gray5);

    display: flex;
    flex-direction: column;
    transition: all .3s;
}

.gameitem > img{
    width: 100%;
    aspect-ratio: 63/50; /*Ja, konstigt format, endast där för att jag lätt ska kunna importera bilder från itch.io, och där använder dom 630px*500px av någon anledning*/
    border-radius: 5px; 
    margin-bottom: 5px;
}

.gameitem > h3{
    font-size: 1.1em;
    color: var(--red);
    font-weight: 500;
    text-align: center;
}

.gameitem > p{
    font-size: 0.875em;
    font-weight: 400;
    text-align: center;
}

.gameitem:hover{
    transform: translateY(-5px);
}

/* -------------------------------------------------------------------------- */
/*                                MOBILE-LAYOUT                               */
/* -------------------------------------------------------------------------- */



@media screen and (max-width: 1280px){
    .topnav-links{
        margin-right: 64px;
        display: flex;
        justify-content: flex-end;
    }
    .topnav-text{
        margin: 2%;
    }
    .games-wrapper{
        display: grid;
        grid-template-areas: 
        "tx"
        "g1"
        "g2"
        ;
        width: 640px;
    }
}
@media screen and (max-width: 850px){
    .topnav-links{
        z-index: 998;
        position: absolute;
        top: 64px;
        right: -70vw;
        margin-right: 0px;
        background-color: var(--gray5);
        width: 70vw;
        height: 100vh;

        padding-top: 20px;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        box-shadow: inset 0px 5px 5px -2px rgba(0,0,0,0.9);
    }
    .topnav-text{
        font-size: 1.5rem;
        margin: 5%;
    }
    .topnav-hr{
        display: inherit;
        width: 100%;
    }
    .burger{
        top: 0px;
        position: absolute;
    }
}
@media screen and (max-width: 640px){
    .partners-wrapper{
        width: 90vw;
        margin-top: 25px;
    }
    .games-wrapper{
        width: 100%;
        overflow: hidden;
    }
    .gamecard{
        width: 90%;
    }
    .games-allbutton{
        width: 20em;
    }
    .licensing-wrapper{
        display: grid;
        grid-template-areas: 
        "ar"
        "se"
        ;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        margin: 75px;
    
        margin-top: 100px; /* ------------------------ TEMPORÄRT ------------------------ */
    }
    .topnav-logo h1 {
        font-size: 2.5em;
    }
}